@page "/ModuleTemplate"
@using Microsoft.Extensions.Localization
@using global::Theo.ModuleTemplate.Localization
@inject IStringLocalizer<ModuleTemplateResource> L
@{
}
<h1>ModuleTemplate</h1>
<p>@L["SamplePageMessage"]</p>