@page
@using Microsoft.Extensions.Localization
@using Theo.ModuleTemplate.Localization
@using Theo.ModuleTemplate.Web.Pages.ModuleTemplate
@model Theo.ModuleTemplate.Web.Pages.ModuleTemplate.IndexModel
@inject IStringLocalizer<ModuleTemplateResource> L

@{
}
<h1>ModuleTemplate</h1>
<p>@L["SamplePageMessage"]</p>
